name: Deploy-Custom-Env

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    environment: Test Environment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Run a one-line script
        run: |
          echo Hello, world!
        
